canvas {
    background-color: goldenrod;
}

.btn {
    font-size: 20px;
}

#initial-screen {
    text-align: center;
}

#pause {
    text-align: center;
    position: relative;
    bottom: 280px;
    right: -14px;
}

#restart {
    text-align: center;
    position: relative;
    bottom: 130px;
    left: 275px;
}

#reinitate-game {
    text-align: center;
    position: relative;
    bottom: 130px;
    left: 275px;
}


#score {
    text-align: center;
    position: relative;
    bottom: 500px;
    left: 572px;
    color: blueviolet;
}

#level {
    text-align: center;
    position: relative;
    bottom: 468px;
    left: 500px;
    color: blueviolet;
}

.screen {
    border: 5px solid red;
    width: 670px;
    height: 560px;
    overflow: hidden;
    background-color: goldenrod;
}

.message {
    position: relative;
    bottom: 65px;
    left: 260px;
    font-size: 45px;
    font-style: italic;
    color: coral;
}

.img {
    width: 670px;
    height: 560px;
}